In [1]:
import pandas as pd

In [2]:
db = pd.read_csv('datasets/1976-2020-president.csv')
db.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT
1,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,20210113,NaN,REPUBLICAN
2,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,20210113,NaN,OTHER
3,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,False,6669,1182850,20210113,NaN,OTHER
4,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,20210113,NaN,OTHER

In [3]:
# column filter
db = db[['year','state','party_detailed', 'candidatevotes']]
db = db[db['party_detailed'] == 'DEMOCRAT']
db.head()

    year       state party_detailed  candidatevotes
0   1976     ALABAMA       DEMOCRAT          659170
8   1976      ALASKA       DEMOCRAT           44058
12  1976     ARIZONA       DEMOCRAT          295602
19  1976    ARKANSAS       DEMOCRAT          498604
24  1976  CALIFORNIA       DEMOCRAT         3742284

In [4]:
a = pd.read_csv('datasets/gdp-77-97.csv')
b = pd.read_csv('datasets/gdp-97-20.csv')
a.head()

,GeoFips,GeoName,1977,1978,1979,1980,1981,1982,1983,1984,...,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997
0,1000,Alabama,59478.4,63298.0,64987.6,64582.3,65771.0,64134.1,67305.0,70481.4,...,82507.5,82407.7,83766.4,86115.5,89813.9,91167.6,94803.1,98023.9,101379.3,104805.2
1,2000,Alaska,16933.3,18450.3,19360.9,22439.8,25865.6,26542.8,25822.1,26853.7,...,27843.4,28985.5,28772.4,25821.4,26150.7,26047.8,26187.9,27608.5,27271.2,27581.3
2,4000,Arizona,44588.9,49253.9,53887.8,55560.6,57106.1,55762.7,58949.6,65288.2,...,80258.3,80971.1,81606.3,81945.8,90282.0,94916.4,104104.4,112019.5,120868.5,129279.1
3,5000,Arkansas,32633.1,34765.4,35288.5,34773.1,36018.1,35055.0,36179.0,39015.1,...,43158.4,44011.8,44496.2,46497.8,49260.3,50756.0,53640.5,55836.1,58346.3,60332.9
4,6000,California,523795.5,559842.6,581985.9,599506.9,619242.6,619419.8,641584.7,693094.9,...,848272.5,880307.0,906102.9,893112.2,891630.9,888069.6,904778.2,940599.3,978299.5,1037091.2

In [9]:
gdp = [] 

# from row-column to table-list

for year in a.columns[2:]:
    for index, row in a.iterrows():
        gdp.append([year, row['GeoName'].upper(), row[year], ])

for year in b.columns[2:]:
    for index, row in b.iterrows():
        gdp.append([year, row['GeoName'].upper(), row[year], ])

In [13]:
gdp = [i for i in gdp if i[1] != 'NEW ENGLAND'] # remove new england

In [14]:
# dump
gdp = pd.DataFrame(data=gdp, columns=['year', 'state', 'gdp', ])
gdp.to_csv('datasets/gdp.csv', index=False)
gdp.head()

   year       state       gdp
0  1977     ALABAMA   59478.4
1  1977      ALASKA   16933.3
2  1977     ARIZONA   44588.9
3  1977    ARKANSAS   32633.1
4  1977  CALIFORNIA  523795.5